@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Shop</h1>
<div>
    <span>Name: </span>
    <span>Paradigm</span>
</div>
<div>
    <span>Status: </span>
    <span class="online">Online</span>
    <span class="offline">Offline</span>
</div>
<div>
    <span>Population: </span>
    <span class="low">Low</span>
    <span class="medium">Medium</span>
    <span class="high">High</span>
</div>